</main>

<footer>
  <!-- changing year dynamically -->
  <% let currentDate = new Date();
  let currentYear = currentDate.getFullYear();
  %> 
  <p>Copyright AT © <%= currentYear %></p>
</footer>
</body>

</html>